body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: black;
}

/*------NavBar------*/


.nav-bar{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 110px;
    


}
.logo img{
    height: 70px;
    width: 70px;
}
.logo{
    padding-right: 120px;

}
.nav-link {
    display: flex;
    gap: 40px;
    padding-right: 240px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:bolder;
    font-style: normal;
    letter-spacing: -0.5px;
    
    
    
}
.nav-link a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    
}

/*----hero----*/


.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;


}   
.whole-hero{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: white;
    
} 
.hero-text{
    width:30px;
}
.hero-text h1{
    font-size: 72px;
    line-height: 110%;
    margin: 0;

}
.hero-para p{
    font-size: 18px;
    margin: 15px 0;
}
.hero-para button{
    padding: 12px 25px;
    background: blue;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}
/*-----video-----*/

.video{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 400px;
    width: 400px;
    background-color: aqua;
}


