body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: black;
    margin-top: 110px;

}

/*------NavBar------*/


.nav-bar{
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 110px;
    background-color: black;
    border-bottom: 3px solid white;


}
.logo img{
    height: 70px;
    width: 70px;
}
.logo{
    padding-right: 120px;

}
.nav-link {
    display: flex;
    gap: 40px;
    padding-right: 240px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:bolder;
    font-style: normal;
    letter-spacing: -0.5px;
    
    
    
}
.nav-link a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    
    
}
a:hover{
    color:blue;
}

/*----hero----*/


.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;


}   
.whole-hero{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: white;
    
} 
.hero-text{
    width:30px;
}
.hero-text h1{
    font-size: 78px;
    line-height: 110%;
    margin: 0;
    font-weight: 900;

}
.hero-para p{
    font-size: 18px;
    margin: 15px 0;
}
.hero-para button{
    margin-top: 15px;
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right,#002fff,#4b00ff);
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

/*-----video-----*/

.video{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 600px;
    width: 100%;
    
}
.video video{
    width:900px;
    height:500px;
    padding-top: 100px;
}


/*-----products-----*/


.products{
    background: black;
    color: white;
    text-align: center;
    padding: 80px 0;
    position: relative;
}
.products h1{
    font-size: 60px;
    margin-bottom: 60px;
    font-weight: bold;
}
.product  h2{
    margin-top: 30px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
}
.product-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.product{
    position: relative;
}
.product img{
    width:400px;
    position:relative;
    z-index: 2;

}
.product button{
    margin-top: 25px;
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right,#002fff,#4b00ff);
    color: white;
    font-weight: bold;
    cursor: pointer;
   
    
}
/*---PULSE IMAGE-----*/


.hero-pulse{
    height: 80vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.pulse{
    color: white;

}
.logo2{
    width: 600px;
    margin-bottom: 20px;

}
.pulse h2{
    font-size: 40px;
    margin: 0;
    font-weight: 700;
    padding-bottom: 0px;

}
.pulse h1{
    font-size: 120px;
    margin: 0;
    font-weight: 900;
    color: #0047ff;
}



.images{
    background: black;
    padding: 80px 0;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card{
    width: 380px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/*------Footer------*/


.footer{
    background: black;
    color: white;
    padding: 60px 80px;
    border-top: 2px solid white;
}
.whole-foot{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
}
.left-foot{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.foot-logo{
    width: 100px;
}
.socials{
    display: flex;
    gap: 20px;
}
.socials img {
    width:35px;
    height: 35px;
    cursor: pointer;
}
.foot-links{
    display: flex;
    gap: 100px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 100px;
}
.column a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}
.column a:hover{
    opacity:0.7;
}
.foot-bottom{
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
    color: #aaa;
}